.heading
{
  width: 100%;
  font-size: 23px;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-family: 'Quicksand', sans-serif;
 
}
.heading_div
{
  
  float:none;
  background: white ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
}
.heading_div2
{
  font-size: 18px ;
  font-family: 'Quicksand', sans-serif;
}
.test_image_and_result
{
  box-shadow:5px 5px 5px black;
  font-size: 35px;
  background-color: rgb(190, 190, 190);
  font-family: 'Special Elite', cursive;
  color: darkviolet;
  font-weight: bold;
  padding: 30px;
	border-radius: 20px;
	width: 1100px;
  height:500px;
	display: inline-block;

}

.result_para_tag span
{
white-space: pre-line;
}

.copy_right_footer
{
  position:fixed;
  color: white;
  bottom: 0 ;
  width: 100%;
  background-color: grey;
  line-height: 3;
  text-align: center;
}

.heading_div3
{
  font-size: 18px ;
}

ol h5
{
	background-color:lightcoral  ;
    padding: 13px;
    border-radius: 20px;
}
span
{
	color:aquamarine;
	font-size: 16px;
}	

b
{
  color: red;
}

h4{
  font-size: 30px;
}

.result
{
	box-shadow: 5px 5px 18px  black;
	letter-spacing: 2px;
	background: lightcoral;
	border-radius: 20px;
	margin-top:30px;
  margin-bottom: 60px;
	padding: 20px;
	border:5px solid rgb(132, 115, 228)
}
